@model ICollection<MovieSystem.Web.Models.MovieViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    @using (Html.BeginForm("ByTitle", "Movie", FormMethod.Post))
    {
    @(Html.Kendo().AutoComplete()
    .Name("movieSearch")
    .DataTextField("Title")
    .DataSource(source =>
    {
    source.Read(read =>
    {
    read.Action("GetMovieModelData", "Home").Data("onAdditionalData");
    }).ServerFiltering(true);
    })
    .HtmlAttributes(new { style = "max-width:400px; width:60%;" })
    .Filter("contains")
    .MinLength(1)
    .Placeholder("Въведете филм...")
    .Height(370)
    .TemplateId("searchItem")
    )
    <input type="submit" value="Търси" class="btn btn-warning" />
    }
</div>
<h2>Movies</h2>
@for (int i = 0; i < Model.Count; i++)
{
    var currMovie = Model.ElementAt(i);
    <div class="row-fluid">
        <div class="span4">
            <div style="width: 450px; margin-bottom: 20px;">
                <a href="~/Movie/Details?id=@currMovie.Id"><img src="@currMovie.PosterUrl" style="margin-right:15px" height="175" width="152" align="left"></a>
                <div>
                    <div style="padding-top: 10px; height: 165px;">
                        <div style=" font-size:15px; padding-bottom: 10px;"><b><a href="~/Movie/Details?id=@currMovie.Id">@currMovie.Title</a></b>&nbsp;(@currMovie.Year)</div>
                        Жанр:<a href="~/Movie/ByGenre?name=@currMovie.Category">@currMovie.Category</a><br>
                        Режисьор: @currMovie.Director<br><br />
                        <a href="~/Movie/Details?id=@currMovie.Id" class="btn btn-primary">Виж още</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}

@for (int i = 1; i <= ViewBag.Pages; i++)
{
    <a href="~/Home/Index/@i">@i</a>
}

<script>
    function onAdditionalData() {
        return {
            text: $("#movieSearch").val()
        }
    }
</script>

<script type="text/x-kendo-templ" id="searchItem">
    <div style="height:80px">
        <img src="${ data.PosterUrl }" style="width:50px; margin:0 10px 0 0; padding:0" class="pull-left" />
        <div>
            <h4 style="padding: 25px 0">${ data.Title } ( ${ data.Year } )</h4>
        </div>
    </div>
</script>